@CHARSET "ISO-8859-1";
body {
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:80%;
}

h1, h2, h3, h4, h5, h6 {font-family: Trebuchet MS, arial, helvetica;color:#006699}
h1 {font-size:1.6em; line-height:1.6em;}
h2 {font-size:1.4em; line-height:1.4em;}
h3 {font-size:1.2em; line-height:1.2em;}
h4 {font-size:1.0em; line-height:1.0em;}
h5 {font-size:0.8em; line-height:0.8em;}
h6 {font-size:0.6em; line-height:0.6em;}

