<table id="tuinplanten-datatables" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th ng-click="predicate = 'name'; reverse=!reverse" style="text-align:left;"><span class="gemicon-small-basil"></span><a href="">kenmerk</a></th>
            <th class="actions"><button class="icon-pencil" ng-click="openCreateFeature()"></button></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="hideCreate">
            <td ng-include="'/feature/create/'">
            </td>
            <td>
            </td>
        </tr>
            <tr ng-repeat="feature in features | orderBy:predicate:reverse">
                <td class="text_center">
                    [[ feature.name ]]
                </td>
                <td class="actions">
                    <button class="icon-edit" ng-click="editFeature(feature.id)"></button>
                    <button ng-if="feature.delete" class="icon-trash" ng-click="deleteFeature(feature.id); features.splice($index, 1) "></button>
                </td>
            </tr>
    </tbody>
</table>
<div ng-bind-html="editform"></div>