<div id="inner-container">
    <!-- Sidebar -->
    <aside id="page-sidebar" class="nav-collapse">
        <!-- Sidebar search -->
        <form id="sidebar-search" method="post" onsubmit="return false;">
            <div class="input-append">
                <input type="text" placeholder="Search.." class="remove-box-shadow remove-transition remove-radius">
                <button><i class="icon-search"></i></button>
            </div>
        </form>
        <!-- END Sidebar search -->

        <!-- Primary Navigation -->
        <nav id="primary-nav">
            {% include 'garden/template/display_nav.twig' %}
            </nav>
            <!-- END Primary Navigation -->

        </aside>
        <!-- END Sidebar -->
        <!-- Page Content -->
        <div id="page-content">
            <!-- Navigation info -->
            <ul id="nav-info" class="clearfix">
                <li><a href="/plants"><i class="icon-home"></i></a></li>
            </ul>
            <!-- END Navigation info -->

            <table id="tuinplanten-datatables" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align:left;"><span class="gemicon-small-basil"></span><a href="">kenmerk</a></th>
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                {% for feature in features %}
                        <tr>
                            <td class="text_center">{{ feature.getFeature() }}&nbsp;</td>
                            <td class="actions">
                                <a class="icon-edit" href="{{url('garden', {'controller':'feature','action':'edit','id':feature.getId()}, {}, 1)}}"></a>
                                {% if feature.getId() not in featuresUsed %}
                                <a class="icon-trash" href="{{url('garden', {'controller':'feature','action':'delete','id':feature.getId()}, {}, 1)}}"></a>
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>