<table id="tuinplanten-datatables" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="text-align:left;"><span class="gemicon-small-basil"></span><a href="">kenmerk</a></th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
             <tr ng-repeat="feature in features">
            <tr>
                <td class="text_center">{[{ feature.feature }]}&nbsp;</td>
                <td class="actions">

                </td>
            </tr>
        </tbody>
    </table>
