
    <!-- <div id="btnDone">close</div> -->
    <h4 class="form-box-header">Tuinplant foto's</h4>
          	{% do form.setAttribute('action', url(null, [], true)) %}
            {% do form.prepare() %}
			{{ form().openTag(form)|raw }}
			{{ formCollection(form) }}
			{{ form().closeTag()|raw }}